{% extends 'layout.html.twig' %}


{% block main %}
    <section class="globalContainer container">
        <p class="text-center">
            Bienvenue sur Ama-ville.fr 🙂<br>
            Ensemble, consommons local.

            Des projets, des besoins ou des envies ?<br>

            Ama-ville.fr recherche pour vous l'Artisan, l'Artiste ou le Commerce qu'il vous faut près de chez vous !<br>

            Consultez les annonces de vos professionnels locaux.
        </p>
        <div class="row  adsContainer">
            {% for annonce in annonces %}
                <div class="card mt-4" style="width: 18rem;">
                    <img class="card-img-top" src="{{ vich_uploader_asset(annonce, 'imageFile') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.name }}</h5>
                        <p class="card-text">{{ annonce.description }}</p>
                    </div>
                </div>
            {% else %}
                <div class="card-body"><p>Pas d'annonces disponible pour l'instant !</p></div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
