{% extends 'layout.html.twig' %}


{% block main %}
    <section class="globalContainer container">
        <div class="row  adsContainer">
            {% for annonce in annonces %}
                <div class="card mt-4" style="width: 18rem;">
                    <img class="card-img-top" src="{{ vich_uploader_asset(annonce, 'imageFile') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.name }}</h5>
                        <p class="card-text">{{ annonce.description }}</p>
                    </div>
                </div>
            {% else %}
                <div class="card-body"><p>Pas d'annonces disponible pour l'instant !</p></div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
