{% extends 'layout.html.twig' %}


{% block main %}
    <div class="globalContainer container container-fluid">
        <h1>Créer une annonces</h1>

        {{ include('annonces/_form.html.twig') }}

        <a href="{{ path('annonces_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
