@import "navbar.scss";

body {
    background-color: #efefef;
}

.globalContainer {
    margin-top: 160px;
    margin-bottom: 50px;
}
.loginContainer {
    margin-top: 240px;
    margin-bottom: 50px;
}



.adsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}
