.navbar {
  background-color: #FFFFFF;
}

.logoName {
  position: absolute;
  left: 50%;
  cursor: pointer;
}

.navlink {
  color: black !important;
}


@media screen and (min-width: 992px) {

  .navbar {
    height: 135px;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .navlink {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    font-size: 20px;
  }

  .navlink:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #23aeee;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navlink:hover:after {
    width: 100%;
    left: 0;
  }
}


