.navbar {
  background-color: #23aeee;
}

.logoName {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: black;
  font-size: 32px;
  letter-spacing: 9px;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
}

@media screen and (max-width: 992px) {
  .logoName {
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {

  .dropdown-menu {
    border-radius: 15px;
    box-shadow: 0 5px 12px rgb(60 82 95 / 65%);
    opacity: 90%;
    margin-left: 30px;
  }

  .navbar {
    height: 130px;
  }

  .logoName::before {
    content: "Amaville";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
                    45deg,
                    transparent 0,
                    transparent 2px,
                    white 2px,
                    white 3px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }


  .logoName:hover:before {
    top: 16px;
    left: 10px;
  }

  .logoName:hover:after {
    top: -16px;
    left: -10px;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .navlink {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    font-size: 20px;
    color: white;
  }

  .navlink:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #d91212;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navlink:hover:after {
    width: 100%;
    left: 0;
  }
}


