
.navbar {
  background-color: rgba(72, 119, 246, 0.94);

}

.logoNavbarContainer {
  margin: 0;
  padding: 0;
}
.logoNavbar {
  margin: 0;
  padding: 0;
  height: 60px;
  width: auto;
}

@media screen and (min-width: 992px) {
  .navlink {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    font-size: 18px;
  }

  .navlink:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #d91212;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navlink:hover:after {
    width: 100%;
    left: 0;
  }
}